# SUMMER ANALYTICS 2022

# Week-1 Assignment

# **Gotta catch 'em all !**

![download.jpg]()

**Welcome to your first assignment of Summer Analytics 2022! We hope you are excited to implement and test everything you have learnt up until now. The dataset which you'll use includes information about Pokemons.**

**We've got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!**


***Let's get started with importing numpy, pandas, seaborn and matplotlib!***

Note - matplotlib should be imported with the command :

 `import matplotlib.pyplot as plt`

### 1) Start by importing all important libraries
For eg, "import numpy as np"

In [1]:
#your code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 2) Read the csv file and assign it to a variable .

In [2]:
#your code here
poki = pd.read_csv('SA2022_W1_Pokemon.csv')

### 3) Display shape of dataframe
Expected Output - (800, 13)

In [3]:
#your code here
poki.shape

(800, 13)

### 4) Print all columns of dataframe
Return an array containing names of all the columns.

In [4]:
#your code here
poki.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### 5) Remove the column '#' and update the dataframe.

In [10]:
#your code here
poki.drop(columns = '#',axis = 1, inplace = True)
#poki.head(30)

KeyError: "['#'] not found in axis"

### 6) Set the 'Name' column as the index of dataframe

In [14]:
#your code here
poki.set_index('Name',inplace=True)

KeyError: "None of ['Name'] are in the columns"

###  7) Print a list of all the unique Type-1 powers

In [15]:

#your code here
poki['Type 1'].unique()

poki.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,combined_power
Name,,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass+Poison
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass+Poison
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass+Poison
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass+Poison
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN

### 8) Create a column which contains the Type 1 and Type 2 abilities of pokemons, seperated with a '+'' sign. Also, display the no. of pokemons that have type-1 power as 'Psychic' and type 2 power as 'Flying' using this new column.

In [17]:
#your code here
poki['combined_power'] = poki['Type 1'] + '+' + poki['Type 2']
poki.head()
poki.combined_power[poki.combined_power == 'Psychic+Flying'].count()

6

## GRADED Questions (To be answered in the quiz)
### Try to retrieve some information from the data and answer the questions below . BEST OF LUCK !!

### 1. How many pokemons have 'Mega' in their name?

In [25]:
#your code here
poki.index.str.contains('Mega').sum()

49

### 2. What is the standard deviation of Sp. Def. in the dataset ?

In [26]:
#your code here
poki['Sp. Def'].std()

27.82891579711745

### 3. What percentage (upto 3 decimal places) of pokemons are legendary ?

In [27]:
#your code here
legend = poki.Legendary.sum()
per = float(legend)/float(len(poki.Legendary))

print(per*100)

8.125

### 4. Name the pokemon(s) with Maximum Defense.

In [34]:
#your code here
poki[poki.Defense == poki.Defense.max()].index

Index(['SteelixMega Steelix', 'Shuckle', 'AggronMega Aggron'], dtype='object', name='Name')

### 5. Which poison pokemon has the strongest attack ?

In [52]:
#your code here
#poki.loc[poki['Type 2'] == 'Poison', 'Attack'].max()

poki.loc[(poki['Type 1'] == 'Poison') | (poki['Type 2'] == 'Poison') ,'Attack'].idxmax()

'BeedrillMega Beedrill'

### 6. Using seaborn make different types of plots, observe the trend and answer the questions given in the form.

In [ ]:
#your code here

In [ ]:
#your code here

In [ ]:
#your code here

### 7. Which is the second fastest non-legendary 'Ghost' type pokemon from 4th generation ?

In [56]:
#your code he
poki.loc[(poki['Type 2'] == 'Ghost') | (poki['Type 1'] == 'Ghost'), 'Speed':'Legendary'].loc[(poki.Generation == 4), 'Speed']
#poki.head()
#poki['Type 1'].unique()
#poki['Type 2'].unique()
#poki.index[np.sort(poki.loc[(poki['Type 2'] == 'Ghost') | (poki['Type 1'] == 'Ghost'), 'Speed':'Legendary'].loc[(poki.Generation == 4), 'Speed'])[-2]]

Name
Drifloon                  70
Drifblim                  80
Mismagius                105
Spiritomb                 35
Dusknoir                  45
Froslass                 110
Rotom                     91
GiratinaAltered Forme     90
GiratinaOrigin Forme      90
Name: Speed, dtype: int64

### 8. How many non-legendary pokemons have stronger defence but weaker attack than Charizard?

In [74]:
#your code here
poki.loc['Charizard','Attack']
poki.loc[(poki.Attack < poki.loc['Charizard','Attack']) & (poki.Legendary == False) & (poki.Defense > poki.loc['Charizard','Defense']),:]#.loc['Legendary' == False , 'Defense']

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,combined_power
Name,,,,,,,,,,,,
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass+Poison
Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,NaN
Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,NaN
PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,Normal+Flying
Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False,NaN
Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False,Rock+Fairy
Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False,Steel+Fairy
Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False,NaN
Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False,Flying+Dragon


## *Congratulations on coming this far! Since we were having so much fun playing with this dataset, here are some bonus questions that you can try to further deepen your understanding of the topic!*

### **Note:** These questions are UNGRADED, and are given as an extra exercise.

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [90]:
#your code here
#poki.Generation.value_counts()
#poki['Type 2'].unique()
poki.loc[poki.combined_power =='Psychic+Flying' , :]
#poki.groupby('Generation').Legendary.sum()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,combined_power
Name,,,,,,,,,,,,
Natu,Psychic,Flying,320,40,50,45,70,45,70,2,False,Psychic+Flying
Xatu,Psychic,Flying,470,65,75,70,95,70,95,2,False,Psychic+Flying
Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,Psychic+Flying
Woobat,Psychic,Flying,313,55,45,43,55,43,72,5,False,Psychic+Flying
Swoobat,Psychic,Flying,425,67,57,55,77,55,114,5,False,Psychic+Flying
Sigilyph,Psychic,Flying,490,72,58,80,103,80,97,5,False,Psychic+Flying

### Which type of legendary pokemons are the most common?

In [ ]:
#your code here

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [ ]:
#your code here

### Print out the third slowest pokemon(s) in the dataset.

In [ ]:
#your code here

### Which pokemon type has the highest average HP?

In [ ]:
#your code here